@model SistemaVendas.Models.GraficoViewModel;

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

<h2>Total de vendas por Produto</h2>
<hr />
<canvas id="myChart" width="400" height="400"></canvas>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [@Html.Raw(ViewBag.Labels)],
            datasets: [{
                data: [@Html.Raw(ViewBag.Cores),
                backgroundColor:[@Html.Raw(ViewBag.Cores)],
                borderColor: ['#fff']
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>